@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #3B3B3B;
    font-family: 'Khand', sans-serif;
    color: white;
}
/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    position: relative; 
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}


.nav-left{
    padding: 30px 0px 0px 90px; 
}
.nav-right{
    padding: 30px 90px 0px 0px; 
}

.nav-left ul,
.nav-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 24px; 
}

.nav-left ul li,
.nav-right ul li {
    margin: 0 10px;
}

.nav-left ul li a,
.nav-right ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-left ul li a:hover,
.nav-right ul li a:hover {
    color: #cccccc;
}

.logo {
    font-size: 48px; 
    font-weight: bold;
    color: #ffffff;
    padding-top: 23px;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    max-width: 1200px;
    margin: 0;
    margin-left: 181px;
    margin-top: 85px;
}

.contact-info {
    max-width: 420px;
    margin: 0;
    
}

.contact-info h2 {
    font-size: 64px;
    margin-bottom: 10px;
    font-weight: 500;
}

.contact-info p {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* 
.icon {
    width: 40px;
    height: 40px;
    background-color: #f1c40f;
    border-radius: 50%;
} */

.contact-form {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
}

.form-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #f1c40f;
    border: none;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-icons .icon {
    cursor: pointer;
}