{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/add_vehicle.css' %}">
</head>

    <!-- Navigation -->
    <div class="navbar">
        <div class="nav-left">
            <ul>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'vehicles' %}">VEHICLES</a></li>
                <li><a href="{% url 'booking' %}">BOOKING</a></li>
                <li><a href="{% url 'contacts' %}">CONTACTS</a></li>
            </ul>
        </div>
        <div class="logo">
            <a href="{% url 'homepage' %}" style="color: white; text-decoration: none;">bonrides</a>
        </div>
        <div class="nav-right">
            <ul class="nav_right">
                {% if user.is_authenticated %}
                    <li id="user-format" style="display: inline-block; font-weight: bold;  color: white; margin-right: 10px;">
                        Hello,
                        <a href="{% url 'edit_profile' %}" style="text-decoration: none; color: yellow;">{{ user.first_name|default:user.email }}</a>!
                    </li>                    
                    <li style="display: inline-block;"><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                    <li style="display: inline-block; margin-right: 10px;"><a href="{% url 'login' %}">LOGIN</a></li>
                    <li style="display: inline-block;"><a href="{% url 'register' %}">SIGN UP</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
  
    <div class="container">
        <div class="form-container">
            <h1>Add Vehicle</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        <label for="model">Model</label>
                        <input type="text" id="model" name="model" placeholder="Model" value="{{ form.model.value|default_if_none:'' }}" required>
                    </div>
                    <div>
                        <label for="model_year">Model Year</label>
                        <input type="text" id="model_year" name="model_year" placeholder="Model Year" value="{{ form.model_year.value|default_if_none:'' }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="brand">Brand</label>
                        <input type="text" id="brand" name="brand" placeholder="Brand" value="{{ form.brand.value|default_if_none:'' }}" required>
                    </div>
                    <div>
                        <label for="mileage">Mileage</label>
                        <input type="text" id="mileage" name="mileage" placeholder="Mileage" value="{{ form.mileage.value|default_if_none:'' }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="availability">Availability</label>
                        <select id="availability" name="availability">
                            <option value="True" {% if form.availability.value == True %}selected{% endif %}>Available</option>
                            <option value="False" {% if form.availability.value == False %}selected{% endif %}>Not Available</option>
                        </select>
                    </div>
                    <div>
                        <label for="registration_number">Registration Number</label>
                        <input type="text" id="registration_number" name="registration_number" placeholder="Registration Number" value="{{ form.registration_number.value|default_if_none:'' }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="seats">Seats</label>
                        <input type="text" id="seats" name="seats" placeholder="Number of Seats" value="{{ form.seats.value|default_if_none:'' }}" required>
                    </div>
                    <div>
                        <label for="transmission">Transmission</label>
                        <select id="transmission" name="transmission">
                            <option value="automatic" {% if form.transmission.value == 'Automatic' %}selected{% endif %}>Automatic</option>
                            <option value="manual" {% if form.transmission.value == 'Manual' %}selected{% endif %}>Manual</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="price">Price</label>
                        <input type="text" id="price" name="price" placeholder="Price" value="{{ form.price.value|default_if_none:'' }}" required>
                    </div>
                    <div>
                        <label for="image">Upload Image</label>
                        <input type="file" id="image" name="image">
                    </div>
                </div>
                
                <button type="submit">Save</button>
            </form>
            <a href="{% url 'manage_vehicles' %}">Back to Vehicle Management</a>
        </div>
    </div>
</body>
</html>
