{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/bonrides.png'} %">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
        <!-- Navigation -->
        <div class="navbar">
            <div class="nav-left">
                <ul>
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="{% url 'vehicles' %}">VEHICLES</a></li>
                    <li><a href="{% url 'booking' %}">BOOKING</a></li>
                    <li><a href="{% url 'contacts' %}">CONTACTS</a></li>
                </ul>
            </div>
            <div class="logo">
                <a href="{% url 'homepage' %}" style="color: white; text-decoration: none;">bonrides</a>
            </div>
            <div class="nav-right">
                <ul class="nav_right">
                    {% if user.is_authenticated %}
                        <li id="user-format" style="display: inline-block; font-weight: bold; margin-right: 10px;">
                            Hello,
                            <a href="{% url 'edit_profile' %}" style="text-decoration: none; color: yellow;">{{ user.first_name|default:user.email }}</a>!
                        </li>                    
                        <li style="display: inline-block;"><a href="{% url 'logout' %}">LOGOUT</a></li>
                    {% else %}
                        <li style="display: inline-block; margin-right: 10px;"><a href="{% url 'login' %}">LOGIN</a></li>
                        <li style="display: inline-block;"><a href="{% url 'register' %}">SIGN UP</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    
    <div class="flex-container">
        <div class="login">
            <form action="" method="POST">
                {% csrf_token %}
                <div>
                    <p class="header">Login</p>
                    
                    <!-- Change 'username' to 'email' -->
                    <input type="email" name="email" required placeholder="Enter email" class="form-control" aria-placeholder="Enter email">
                </div>
                <div>
                    <br />
                    <input type="password" name="password" required placeholder="Enter password" class="form-control" aria-placeholder="Enter password">
                </div>
                <br />
                <div>
                    <button type="submit">LOGIN</button>
                </div>
                <!-- Display error message below the button if there's any -->
                <div>
                    {% if messages %}
                    <ul style="list-style-type: none; background-color: white; padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
                        {% for message in messages %}
                            <li style="color: red; padding: 5px 0;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </form>
        </div>    
    </div>
</body>
</html>
