{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <ul>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'vehicles' %}">VEHICLES</a></li>
                <li><a href="{% url 'booking' %}">BOOKING</a></li>
                <li><a href="{% url 'contacts' %}">CONTACTS</a></li>
            </ul>
        </div>
        <div class="nav-center">
            <ul>
                <li>
                    <a href="{% url 'homepage' %}">bonrides</a>
                </li> 
            </ul>
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="{% url 'login' %}">LOGIN</a></li>
                <li><a href="{% url 'register' %}">SIGN UP</a></li>
            </ul>
        </div>
    </nav>

    <div class="flex-container">
        <div class="register">
            <form method="POST">
                {% csrf_token %}
                <p class="header">Register</p>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div>
                    {{ form.email }}
                </div>
                <div>
                    {{ form.password1 }}
                </div>
                <div>
                    {{ form.password2 }}
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
